/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.product-desc {
  font-size: 20px;
}

.thumbnail  { min-height:400px; height:50px; }


.thumbnail img {
  height:200px;
  width:100%;
}

a { cursor: pointer; }